# Entorno virtual
.venv/
venv/
env/

# Variables de entorno
.env
*.env
config.json
secrets.json

# Archivos temporales / cache
__pycache__/
*.pyc
.ipynb_checkpoints/

# Configuración de VSCode
.vscode/

# Demo and test images
*.png